<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>525481537619-ah03r400e9bve4gpb9kqo4fo4qqcmd23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525481537619-ah03r400e9bve4gpb9kqo4fo4qqcmd23</string>
	<key>API_KEY</key>
	<string>AIzaSyCnTwumDQVNNA6QYs5fNS952vj-_e19sm4</string>
	<key>GCM_SENDER_ID</key>
	<string>525481537619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DiphlomaProject.PersonsControl-IOS</string>
	<key>PROJECT_ID</key>
	<string>personscontrol</string>
	<key>STORAGE_BUCKET</key>
	<string>personscontrol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525481537619:ios:4952f2a28d2b2048</string>
	<key>DATABASE_URL</key>
	<string>https://personscontrol.firebaseio.com</string>
</dict>
</plist>